.App {
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    background: #eeeee0;
    color: #333;
}

/****************************************************************************/
.Header {
    font-family: "UnifrakturMaguntia", cursive;
    padding: 1vmin 2vmin;
    position: sticky;
    top: 0;
    background: #eeeee0;
    z-index: 999;
}
.HeaderTitle {
    font-size: 1.4em;
    padding: 0.5vmin 2vmin;
    border-top: 5px double #333;
    border-bottom: 5px double #333;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
}
.HeaderTitle h1 {
    font-size: 3em;
    text-align: center;
}
.HeaderTitle p:first-of-type {
    justify-self: start;
}
.HeaderTitle p:last-of-type {
    justify-self: end;
    text-align: right;
}

/****************************************************************************/

.mainQuery {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 1vmin 2vmin;
    border-bottom: 5px double #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.mainQuery * {
    margin: 0 1vh;
}
.mainQuery button {
    padding: 0.5vh 1vw;
}

/****************************************************************************/
.Articles {
    padding: 1vmin 5vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    /*======================================================================*/
    /*======================================================================*/
    /*======================================================================*/
}
.ArticleCards {
    width: 30%;
    /* border: 1px solid #333; */
    margin-bottom: 5vmin;
    background: white;
}
.ArticleCards img {
    width: 100%;
}
.ArticleCards h4,
.ArticleCards h4,
.ArticleCards p {
    padding: 1vmin 2vmin;
}

.ArticleCards div {
    padding: 1vmin 2vmin;
    text-align: center;
}

.ArticleCards a {
    display: inline-block;
    text-decoration: none;
    margin: 1vmin 0;
    padding: 1.2vmin 2vmin;
    background: #333;
    color: ivory;
}
