@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");

/* Hard reset, no margins and paddings for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Scrolling should always be smooth... */
html {
    scroll-behavior: smooth;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
